h1, h2, h3 {

text-align: center;
}


.oculto {

display: none;


}


button.btn-warning{

	background-color: #FF4646;
	
}


.tabla-principal {


	background-color: #40ACFF;
	color: white;
}


.jumbotron {


border-radius: 72px 72px 72px 72px;
-moz-border-radius: 72px 72px 72px 72px;
-webkit-border-radius: 72px 72px 72px 72px;
border: 1px solid #000000;

}


.blanco{


	background-color: #FFFFFF;
}