@font-face {
    font-family: "Gauntlet";
    src: url(../fonts/GauntletClassic_TB.otf) format("truetype");
}







h1, h2, h3 {

text-align: center;
}


.oculto {

display: none;


}


button.btn-warning{

	background-color: #FF4646;
	
}


.tabla-principal {


	background-color: #40ACFF;
	color: white;
}


.jumbotron {


border-radius: 72px 72px 72px 72px;
-moz-border-radius: 72px 72px 72px 72px;
-webkit-border-radius: 72px 72px 72px 72px;
border: 1px solid #000000;

}


.blanco{


	background-color: #FFFFFF;
}

.hdr{

	background-image: url(../imagenes/fibra-optica.png);
	text-align:center;
	width: 100%;
	height: 400px;
	font-size: 3em;
	color: white;
	font-weight: 700;
	text-shadow: 5px 5px 5px white,
	  			  	  0 2px black,
	  			  2px 0 black, 0 -1px black;

 	

	  }

	  .titulo{
		font-family: "Gauntlet"; 
		padding-top: 50px;	 



	  }


	  .menu{

		background-color: white;

	  }

	  .menu a{
				color: black; 
		
	  }

	  .menu a:hover { 

	  	color: white; 
	  }


	  .menu ul li a:hover {
	  	background-color: #130485;
	  }






	  .sub-menu{

		background-color: white;

	  }

	  .sub-menu a{
				color: black; 
		
	  }

	  .sub-menu a:hover { 

	  	color: white; 
	  }


	  .sub-menu ul li a:hover {
	  	background-color: #130485;
	  }









	  .imgg{

	  	text-align:left;



	  }

	  #logo {

		height: 60%;
		width: 60%;



	  }




	   #logo2 {

		height: 90%;
		width: 95%;
		align-items: center;


	  }



	  .seccion{

	  	margin-top: 50px;


	  }

	  footer {	
	   	 		position: relative;
    			clear:both;
			    height: 50px;
			    width: 100%;
				background: #1A1A1A;

	  }


.logo-ini {

text-align: center;
margin-bottom: 10px;

}


	  #logo-inicio {
			
		height: 50%;
		width: 50%;

	  }

	  	  #logo-hrw {
			
		height: 70%;
		width: 70%;

	  }


	  .borde{

			border: 1px solid #000000;


	  }

	  .copy {

			text-align: center;
			color: white;
			padding-top: 30px;	

	  }


	  .contenido {
			height: 500px;



	  }




